In [1]:
import os
import pkg_resources
pkg_resources.require("numpy>=`1.20.1")  #  to use specific numpy version
import numpy as np
import rsnapsim as rss
print('numpy version =', np.version.version)
print('rsnapsim version =',rss.__version__)
from sys import platform
import os
from skimage import io ; from skimage.io import imread; from skimage.measure import find_contours
from random import randrange
import os; from os import listdir; from os.path import isfile, join
import pandas as pd
import os; from os import listdir; from os.path import isfile, join
import re
import shutil
from random import randrange
# Importing rSNAPsim_IP
cwd = os.getcwd(); os.chdir('../../rsnaped'); import rsnaped as rsp ; os.chdir(cwd) # return to the working directory
import ipywidgets as widgets ; from ipywidgets import interact, interactive, fixed, interact_manual, Button, HBox, VBox, Layout, GridspecLayout ; from IPython.display import Image

numpy version = 1.20.0
rsnapsim version = 0.0.18

In [2]:
import matplotlib.pyplot as plt
plt.style.use('dark_background')
plt.rcParams['figure.dpi'] = 120
plt.rcParams['lines.linewidth'] = 1
plt.rcParams['axes.linewidth'] = 1.5
plt.rcParams['font.size'] = 15
plt.rcParams['axes.grid'] = False

In [3]:
# gene files
gene_file_h2b = '../../DataBases/gene_files/H2B_withTags.txt'
gene_file_bact = '../../DataBases/gene_files/Bactin_withTags.txt'

In [4]:
# initial video
empty_cells_directory_name = '../../DataBases/videos_for_sim_cell'

In [5]:
list_files_names = sorted([f for f in listdir(empty_cells_directory_name) if isfile(join(empty_cells_directory_name, f)) and ('.tif') in f], key=str.lower)  # reading all tif files in the folder
list_files_names.sort(key=lambda f: int(re.sub('\D', '', f)))  # sorting the index in numerical order
path_files = [ empty_cells_directory_name+'/'+f for f in list_files_names ] # creating the complete path for each file
num_cell_shapes = len(path_files)

In [6]:
# Inputs
list_gene_sequences = [gene_file_h2b, gene_file_bact] # path to gene sequences
list_number_spots = [20, 10] # list of integers, where each element represents the number of spots
list_target_channels = [1, 1] # channel where the simulated spots will be located. 
list_diffusion_coefficients =[0.01, 1] # diffusion coefficients for each gene
list_label_names = ['a','b'] # list of strings used to generate a classification field in the output data frame
simulation_time_in_sec = 100
step_size_in_sec = 5
save_as_tif = 0 # option to save the simulated video
save_dataframe = 0 # option to save the simulation output as a dataframe in format csv. 
saved_file_name = 'simulated_cell' # if the video or dataframe are save, this variable assigns the name to the files
create_temp_folder = 0 # saves the video and data frame in a temp folder

In [7]:
# Number of simulated Cell
number_cells = 2

In [8]:
list_dataframe_simulated_cell =[]
for i in range (0,number_cells ):
    sel_shape = randrange(num_cell_shapes)
    video_path = path_files[sel_shape]
    inial_video = io.imread(video_path) # video with empty cell
    _, single_dataframe_simulated_cell = rsp.SimulatedCellMultiplexing(inial_video,list_gene_sequences,list_number_spots,list_target_channels,list_diffusion_coefficients,list_label_names,simulation_time_in_sec,step_size_in_sec,save_as_tif, save_dataframe, saved_file_name,create_temp_folder,cell_number =i).make_simulation()
    list_dataframe_simulated_cell.append(single_dataframe_simulated_cell)

In [9]:
dataframe_simulated_cell = pd.concat(list_dataframe_simulated_cell)

In [10]:
dataframe_simulated_cell

,cell_number,particle,frame,red_int_mean,green_int_mean,blue_int_mean,red_int_std,green_int_std,blue_int_std,x,y,Classification
0,0,0,0,63.928570,52.015713,0.0,58.730656,34.208003,0.0,367.0,293.0,a
1,0,0,5,77.680000,48.139999,0.0,41.014712,32.416881,0.0,367.0,293.0,a
2,0,0,10,76.795715,49.992859,0.0,46.011698,24.911475,0.0,367.0,293.0,a
3,0,0,15,84.419998,53.128571,0.0,45.273168,25.074853,0.0,367.0,293.0,a
4,0,0,20,98.839996,35.035713,0.0,43.767675,27.052129,0.0,367.0,293.0,a
...,...,...,...,...,...,...,...,...,...,...,...,...
185,1,29,70,80.905716,62.445713,0.0,80.321360,39.966305,0.0,263.0,310.0,b
186,1,29,75,93.604286,63.137142,0.0,44.090500,48.870577,0.0,267.0,310.0,b
187,1,29,80,69.467140,58.597141,0.0,63.190065,45.758651,0.0,267.0,306.0,b
188,1,29,85,65.752853,32.847141,0.0,77.618715,46.760898,0.0,274.0,307.0,b
189,1,29,90,122.271431,25.135714,0.0,64.998878,29.778231,0.0,271.0,307.0,b