In [1]:
import os
import pkg_resources
pkg_resources.require("numpy>=`1.20.1")  #  to use specific numpy version
import numpy as np
import rsnapsim as rss
print('numpy version =', np.version.version)
print('rsnapsim version =',rss.__version__)
from sys import platform
import os
from skimage import io ; from skimage.io import imread; from skimage.measure import find_contours
from random import randrange
import os; from os import listdir; from os.path import isfile, join
import pandas as pd
import os; from os import listdir; from os.path import isfile, join
import re
import shutil
from random import randrange
# Importing rSNAPsim_IP
cwd = os.getcwd(); os.chdir('../../rsnaped'); import rsnaped as rsp ; os.chdir(cwd) # return to the working directory
import ipywidgets as widgets ; from ipywidgets import interact, interactive, fixed, interact_manual, Button, HBox, VBox, Layout, GridspecLayout ; from IPython.display import Image

numpy version = 1.20.0
rsnapsim version = 0.0.18

In [2]:
import matplotlib.pyplot as plt
plt.style.use('dark_background')
plt.rcParams['figure.dpi'] = 120
plt.rcParams['lines.linewidth'] = 1
plt.rcParams['axes.linewidth'] = 1.5
plt.rcParams['font.size'] = 15
plt.rcParams['axes.grid'] = False

In [3]:
# gene files
gene_file_h2b = '../../DataBases/gene_files/H2B_withTags.txt'
gene_file_bact = '../../DataBases/gene_files/Bactin_withTags.txt'

In [4]:
# initial video
empty_cells_directory_name = '../../DataBases/videos_for_sim_cell'

In [5]:
list_files_names = sorted([f for f in listdir(empty_cells_directory_name) if isfile(join(empty_cells_directory_name, f)) and ('.tif') in f], key=str.lower)  # reading all tif files in the folder
list_files_names.sort(key=lambda f: int(re.sub('\D', '', f)))  # sorting the index in numerical order
path_files = [ empty_cells_directory_name+'/'+f for f in list_files_names ] # creating the complete path for each file
num_cell_shapes = len(path_files)

In [6]:
# Inputs
list_gene_sequences = [gene_file_h2b, gene_file_bact] # path to gene sequences
list_number_spots = [20, 10] # list of integers, where each element represents the number of spots
list_target_channels = [1, 1] # channel where the simulated spots will be located. 
list_diffusion_coefficients =[1, 1] # diffusion coefficients for each gene
list_label_names = ['a','b'] # list of strings used to generate a classification field in the output data frame

list_elongation_rates = [3, 3] # elongation rates aa/sec
list_initation_rates = [0.03, 0.03] # initiation rates 1/sec

simulation_time_in_sec = 100
step_size_in_sec = 1
save_as_tif = 0 # option to save the simulated video
save_dataframe = 0 # option to save the simulation output as a dataframe in format csv. 
saved_file_name = 'simulated_cell' # if the video or dataframe are save, this variable assigns the name to the files
create_temp_folder = 0 # saves the video and data frame in a temp folder
frame_selection_empty_video = 'constant' # Options are: 'constant' , 'shuffle' and 'loop'

In [7]:
# Number of simulated Cell
number_cells = 2

In [8]:
list_dataframe_simulated_cell =[]
for i in range (0,number_cells ):
    sel_shape = randrange(num_cell_shapes)
    video_path = path_files[sel_shape]
    inial_video = io.imread(video_path) # video with empty cell
    _, single_dataframe_simulated_cell,list_ssa = rsp.SimulatedCellMultiplexing(inial_video,list_gene_sequences,list_number_spots,list_target_channels,list_diffusion_coefficients,list_label_names,list_elongation_rates,list_initation_rates,simulation_time_in_sec,step_size_in_sec,save_as_tif, save_dataframe, saved_file_name,create_temp_folder,cell_number =i,frame_selection_empty_video=frame_selection_empty_video).make_simulation()
    list_dataframe_simulated_cell.append(single_dataframe_simulated_cell)

In [9]:
dataframe_simulated_cell = pd.concat(list_dataframe_simulated_cell)

In [10]:
dataframe_simulated_cell.head()

,cell_number,particle,frame,red_int_mean,green_int_mean,blue_int_mean,red_int_std,green_int_std,blue_int_std,x,y,Classification
0,0,0,0,52.167141,53.445713,0.0,68.240982,40.256124,0.0,253.0,166.0,a
1,0,0,1,90.132858,57.660000,0.0,67.452131,42.302400,0.0,252.0,166.0,a
2,0,0,2,88.492859,57.660000,0.0,67.452131,42.302400,0.0,252.0,166.0,a
3,0,0,3,73.692856,57.660000,0.0,67.452131,42.302400,0.0,252.0,166.0,a
4,0,0,4,69.080002,50.802856,0.0,53.419917,42.705386,0.0,252.0,165.0,a